* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0051ff;
}


header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

header div span {
    display: block;
}

.logo-2{
    font-size: 509x;
    font-weight: bold;
    margin-left: -5px;
}
